@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  background-color: #24252a;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

#header {
  display: flex;
  align-items: flex-start;
  top: 0;
  justify-content: space-between;
  padding: 30px 10%;
  position: sticky;
  z-index: 2;
  pointer-events: none;
}

#nav-bar li {
  display: inline-block;
  padding: 0 30px;
  pointer-events: auto;
}

li, a, button, #submit, p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  list-style: none;
  pointer-events: auto;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #edf0f1;
  text-decoration: none;
  list-style: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 26px;
  color: #edf0f1;
  text-decoration: none;
  list-style: none;
}

#name, #email, #message {
  background-color: #24252a;
  border-radius: 5px;
  border: solid;
  border-color: rgba(0,136,169,1);
  height: 30px;
  width: 205px;
  font-size: 16px;
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;  
}

#submit, button {
  padding: 9px 76px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#form {
  position: relative;
  top: 10px;
  right: 46px;
  z-index: 1;
}

#message-form {
  opacity: 0;
  transition: opacity 1500ms;
}

#message-form.akt {
  opacity: 1;
}

#form li {
  padding: 10px;
}

#submit:hover, button:hover, .card-button:hover {
  background-color: rgba(0,136,169,0.8);
}

#nav-bar li a {
  transition: all 0.3s ease 0s;  
}

#nav-bar li a:hover {
  color: #0088a9; 
}

::placeholder {
  color: #edf0f1;
  opacity: 0.8;
  text-align: center;
}

.grid {
  margin: auto;
  margin-top: -230px;
  width: 70vw;
  height: 70vh;
  border: none;
  z-index: -1;
  overflow: auto;
  text-align: justify;
  cursor: default;
}

.introduction, h1 {
  padding: 0 20px;
  
}
.background {
  width: 99%;
  height: 100px;
  top: 0px;
  margin: auto;
  position: fixed;
  z-index: 1;
  background-color: #24252a;
}

.grid::-webkit-scrollbar {
  display: none;
}

.card {
  box-sizing: border-box;
  float: right;
  margin: 75px 30px 15px 30px;
  background-image: url(https://i.ibb.co/wz0BxTZ/23-F20212-EF6-F-41-A7-B5-A4-6-B103123-A852-4-5005-c.jpg);
  background-size: cover;
  background-color: #292929;
  border-radius: 15px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.7);
  filter: drop-shadow(0 0 3px rgba(7, 7, 7, 0.12));
  height: 450px;
  max-width: 35ch;
  position: relative;
  cursor: pointer;
  transition: 300ms ease;
}

.card-body {
  padding: 265px 1.5em 15px 1.5em;
  text-align: center;
}

.card:hover {
  transform: scale(1.02);
}

.card-button {
  padding: 9px 50px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px 10px 10px 10px;
  grid-template-areas:
    "html css js phyton c-sharp sql git react";

}

#main {
  height: 80px;
  width: 80px;
  border-radius: 5px;
  background: #292929;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  justify-self: center;
  transition: all 0.3s ease;
}

#main:hover {
  transform: scale(1.05);
}



